{
  "version": 1,
  "minor_version": 4,
  "key": "core.config",
  "data": {
    "latitude": 6.3461047,
    "longitude": -75.5080262,
    "elevation": 0,
    "unit_system_v2": "metric",
    "location_name": "Home",
    "time_zone": "America/Bogota",
    "external_url": null,
    "internal_url": null,
    "currency": "COP",
    "country": "CO",
    "language": "en",
    "radius": 100
  }
}